<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyLuongSanPham_DAO.Properties.Settings.QuanLyLuongSanPhamConnectionString" connectionString="Data Source=DESKTOP-50F1KAT;Initial Catalog=QuanLyLuongSanPham;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="QuanLyLuongSanPham_DAO.Properties.Settings.QuanLyLuongSanPhamConnectionString1" connectionString="Data Source=LAPTOP-27HK0FFM\SQLEXPRESS;Initial Catalog=QuanLyLuongSanPham;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="QuanLyLuongSanPham_DAO.Properties.Settings.QuanLyLuongSanPhamConnectionString2" connectionString="Data Source=DESKTOP-50F1KAT\PEGUIN;Initial Catalog=QuanLyLuongSanPham;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="QuanLyLuongSanPham_DAO.Properties.Settings.QuanLyLuongSanPhamConnectionString3" connectionString="Data Source=HUYDINH;Initial Catalog=QuanLyLuongSanPham;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="QuanLyLuongSanPham_DAO.Properties.Settings.QuanLyLuongSanPham5ConnectionString" connectionString="Data Source=HUYDINH;Initial Catalog=QuanLyLuongSanPham5;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="QuanLyLuongSanPham_DAO.Properties.Settings.QuanLyLuongSanPhamConnectionString4" connectionString="Data Source=DESKTOP-50F1KAT\Peguin;Initial Catalog=QuanLyLuongSanPham;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.0" newVersion="2.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
